{% extends 'index.html' %} {% load dates %} {% load static %} {% block content %}

<div class="wrapper wrapper--w960">
  {% include "navbar.html" %}
  <div class="card card-2">
      <div class="card-body" style="height: 590px;padding: 80px 28px;">
          <a href="{% url 'services_list' %}" class="btn btn-primary float-right" ><span style="color:white;">Actualizar</span></a>
          <h2 class="title">SERVICIOS ACTIVOS</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Servidores</th>
                <th scope="col">Ingresaron</th>
                <th scope="col">Devueltos</th>
                <th scope="col">Inscritos</th>
                <th scope="col">Máx. Asistentes</th>
                <th scope="col">Disponibles</th>
                <th style="font-style:italic;" scope="col">Liberar</th>
              </tr>
            </thead>
            <tbody>
              {% for service in services  %}
                <tr>
                  <td style="font-style: italic;">
                    {% if service.inscribed > 0 or service.servants > 0 or service.returned > 0  %}
                      <a style="text-transform: capitalize;" href="{% url 'service_assistants' service_pk=service.id %}">{{service.day | parse_date}}</a>
                    {% else %}
                      <div style="text-transform: capitalize;">{{service.day | parse_date}}</div>
                    {% endif %}
                  </td>
                  <td style="font-style: italic;">{{service.hour | parse_time}}</td>
                  <td style="text-align:center;font-style: italic">{{service.servants}}</td>
                  <td style="text-align:center;font-style: italic">{{service.attendees}}</td>
                  <td style="text-align:center;font-style: italic">{{ service.returned }}</td>
                  <td style="text-align:center;font-style: italic">{{service.inscribed}}</td>
                  <td style="text-align:center;font-style: italic">{{service.max_attendees}}</td>
                  <td style="text-align:center;font-style: italic">{{ service.max_attendees | subtract:service.inscribed }}</td>
                  <td style="text-align: center;">
                    {% if service.diference_to_delete > 0 %}
                      <a href="{% url 'remove_non_attendees' service_pk=service.id %}" title="Eliminar los registros de las personas que no asistieron al servicio."><i style="font-size: 18px;color: red;" class="fa fa-trash" aria-hidden="true"></i></a>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock %}
