{% extends 'index.html' %} {% load dates %} {% load static %} {% block content %}
  <div class="wrapper wrapper--w960" id="formRegister">
    <div class="card card-2">
      <div class="card-heading"></div>
        <div class="card-body">
            <div class="offset-md-2 col-xs-12 col-md-8">
              <div id="login-container" >
                <form class="form-signin" id="login-form" method="POST">
                  {% csrf_token %}
                  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;margin-bottom: 30px !important;">Inicio de Sesión</h1>
                  <label for="inputEmail" class="sr-only">Username</label>
                  <input type="text" id="id_username" class="form-control" placeholder="Username" required autofocus name="username" style="margin-bottom: 15px;">
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="id_password" class="form-control" placeholder="Password" required name="password" style="margin-bottom: 15px;">
                  <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>
                  <a style="text-align: center;" class="nav-link" href="{% url 'index' %}">Regresar</a>
                </form>
              </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}
